.grid { 
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: 320px 320px ;
    grid-template-areas: 
    "s1 s1 s2 s3"
    "s1 s1 s4 s4"
}
.s1 { 
    grid-area: s1;
    background-color: #ffffff;
    margin:10px 10px 10px 10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.16);
}
.s2 { 
    grid-area: s2;
    background-color: #ffffff;
    margin:10px 10px 10px 10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.16);
}
.s3 { 
    grid-area: s3;
    background-color: #ffffff;
    margin:10px 10px 10px 10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.16);
}
.s4 {
    grid-area: s4;
    background-color: #ffffff;
    margin:10px 10px 10px 10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.16);
}

.header {
    font-family:Arial;
    font-size: 50px;

}

h1 {
    margin: 0 auto;
    font-family: arial;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;

}

street_names {
    font-family: arial;
    font-size: 15px;
}

table {
    border: 3px solid #000000;
    background-color: #EEEEEE;
    border-collapse: collapse;
    width: 88%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
}

table th {
    border-width: 3px;
    border-color: #000000;
    background-color: #aaaaaa;
    border-style: solid;
    padding: 5px;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    width:22%;

}


table td {
    border-width: 3px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
    text-align: center;
    font-family: arial;
    font-size: 15px;
}

table tr:last-child {
    font-size: 20px !important;
    font-family: arial;
    font-weight: bold;
}